html, body {
	padding: 2%;
	background-color: #728AE1;
}

.search-column {
	height: 720px;
	display:inline-block;
	float: left;
	margin-left: -1.5vw;
	margin-top: -1.4vw;
	width: 23.3vw;
	height:56.2vw;
	background-color: #D9ECBE;
	padding-right: .5%
	color: #243B00;
}

.search-column input {
	position:relative;
	left: 30%;
}

h2 {
	text-align: center;
}

#author-list {
	max-height: 350px;
	overflow:scroll;
}

#author-names {
	color: #243B00;
}


#quotes-container {
	/*display:inline-block;*/
	float:right;
	width:67.5vw;
	height:720px;
	margin-top: -1.5vw;
	margin-right: -2vw;
	background-color: #97ABF6;
}

 .quote-block {
	/*display: inline-block;*/
	/*float:right;*/
	width: 95%;
	min-height: 400px;
	text-align: center;
	padding-top: 10%;
	background-color: #D8E0FF;
	position: relative;
	top: 20px;
	left: 20px;
}

#quote-list {
	text-align: left;
	max-height: 200px;
	overflow: scroll;
}

#quote-list li {
	list-style-type: none;
	padding: 10px;
}

#author-names {
	padding: 10px;
	border-bottom-style: solid;
	list-style-type: none;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

#author-names a {
	color: #243B00;
}

#author-names a {
	color: ;
}

#author-list {
	padding:0;
}

#genre-list {
	list-style-type: none;
	-moz-column-count: 2;
	-webkit-column-count:2;
	column-count: 2;
}

#genre-list li button {
	 width: 70%;
   height: 35px;
   text-align: center;
   margin: 4px;
   border-radius: 10%;
   background-color: #F6FCF4;
   font-size: 98%;
}

a {
	color:black;
	text-decoration: none;
}
/*lightest green: #F6FCED
*/


#add-quote-block {
	width: 70%;
	margin-top: 20%;
	display:inline-block;
	text-align: center;

}