html, body {
	padding: 2%;
	background-color: #728AE1;
	font-family: nunito;
	font-weight: 300;
}

.search-column {
	min-height: 720px;
	display:inline-block;
	border-radius: 2%;
	float: left;
	margin-left: -1.5vw;
	margin-top: -1.4vw;
	width: 23.3vw;
	background-color: #97ABF6;
	padding-right: .5%
	color: #243B00;
}

.search-column input {
	text-align: center;
	width: 12.578125vw;
	min-width: 88px;
	height: 32px;

}

.author-search {
	width: 21vw;
	margin:0 auto;
	height: 489px;
	border-radius: 2%;
	margin-top: 32px;
	background-color: #D8E0FF;
	text-align: center;
}

.author-search h2 {
	font-size: 19px;
	font-weight: 300;
	padding-top: 6px;
	margin-bottom:10px;
}

h2 {
	text-align: center;
}

#author-list {
	max-height: 350px;
	overflow:scroll;
}

#author-names {
	color: #243B00;
}




#quotes-container {
	/*display:inline-block;*/
	float:right;
	width:67.5vw;
	height:720px;
	margin-top: -1.5vw;
	margin-right: -2vw;
	border-radius: 2vw;
	background-color: #97ABF6;
}

 .quote-block {
	/*display: inline-block;*/
	/*float:right;*/
	width: 95%;
	width: 60.5vw;
	border-radius: 2%;
	min-height: 400px;
	padding-top: 10%;
	margin: 2.7vw auto;
	background-color: #D8E0FF;
}

.quote-block h1 {
	font-weight: 300;
	font-size: 35px;
	margin-top: -7px;
	margin-left: 66px;
}

#quote-list {
	text-align: left;
	max-height: 200px;
	margin: 0 auto;
	padding: 0;
	overflow: scroll;
	width: 45vw;
	margin-left: 61px;
	font-size: 27px;
}

#quote-list li {
	list-style-type: none;
	padding: 10px;
}

#author-names {
	padding: 7px;
	list-style-type: none;
	font-family: nunito;
	font-weight: 300;
	text-align: center;
	font-size: 18px;
}

/*#author-names a {
	color: #243B00;
	font-family: nunito;
	font-weight: 300;
	font-size: 18px;
}*/

#author-list {
	padding:0;
	margin: 12px;
}

.genre-search {

}


.genre-search h2 {
	font-size: 20px;
	font-weight: 100;
	margin-top: 11px;
}

#genre-list {
	list-style-type: none;
	-webkit-padding-start: 0;
	padding: 0 50px;
}

#genre-list ul {
	padding: 0;
}


#genre-list li {
	width: 93px;
	height: 23px;
	float: left;
	display: inline-block;
	margin: 5px 22px 11px 5px;
	border-radius: 6px;
	background-color: #728AE1;
	color: #EBEBEB;
	font-size: 10px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 5px;
}

#genre-list li a {
	color: #EBEBEB;
}
/*#genre-list li button {
	 width: 70%;
   height: 35px;
   text-align: center;
   margin: 4px;
   border-radius: 10%;
   background-color: #F6FCF4;
   font-size: 98%;
}*/

a {
	color:black;
	text-decoration: none;
}
/*lightest green: #F6FCED
*/


#add-quote-block {
	text-align: center;

}

#add-quote-button {
	margin: -15px auto 17px;

}

#add-quote-form input {
	margin: 0 10px;
	width: 165px;
	height: 36px;
	margin: 5px 10px 5px;
	padding: 0;
	border: none;
	border-radius: 2%;
	background-color: #D8E0FF;
}

#add-quote-form button {
	display: block;
	font-size: 18px;
	margin: 18px auto;
	padding: 8px 38px;
	border: none;
	border-radius: 7%;
	background-color: #728AE1;
	color: #EBEBEB;
}



@media all and (max-width: 540px) {

	#quotes-container {
		 position: relative;
    top: -748px;
    width: 92.592592593vw;
    padding-top: 3.7037037037vw;
    margin-top: 3.7037037037vw;*/
	}

	.quote-block {
		width: 80.5vw;
	}

	.search-column {
		 position: relative;
    top: 757px;
    width: 92.222222vw; 
	}

	.author-search {
		width: 82vw;
	}

}
/*    position: relative;
    top: -166.6666667vw;
    width: 92.592592593vw;
    padding-top: 3.7037037037vw;
    margin-top: 3.7037037037vw;*/

    /*    position: relative;
    top: 757px;
    /* width: 80%; */